 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 202px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 66px 127px 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 127px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -61px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-top: 72px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -67px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -64px;
  }
}