 .u-section-1 {
  background-image: url("images/robot.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 240px;
  background-image: none;
  box-shadow: 0 0 10px 3px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 2;
  margin: 80px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 30px;
}

.u-section-1 .u-image-1 {
  width: 473px;
  height: 218px;
  transition-duration: 0.5s;
  margin: 4px auto 0 15px;
}

.u-section-1 .u-list-1 {
  width: 1025px;
  margin: 466px auto 40px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 59px 59px;
  grid-template-columns: calc(25% - 44.25px) calc(25% - 44.25px) calc(25% - 44.25px) calc(25% - 44.25px);
  min-height: 183px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-icon-1 {
  width: 100px;
  height: 100px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
  box-shadow: 0 2px 16px 0 rgba(128,128,128,1);
  color: rgb(255, 255, 255) !important;
  background-image: none;
  margin: 19px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 0.875rem;
  margin: 3px auto 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-icon-2 {
  width: 100px;
  height: 100px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
  box-shadow: 0 2px 16px 0 rgba(128,128,128,1);
  color: rgb(255, 255, 255) !important;
  background-image: none;
  margin: 19px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 0.875rem;
  margin: 3px auto 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-icon-3 {
  width: 100px;
  height: 100px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
  box-shadow: 0 2px 16px 0 rgba(128,128,128,1);
  color: rgb(255, 255, 255) !important;
  background-image: none;
  margin: 19px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 0.875rem;
  margin: 3px auto 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-icon-4 {
  width: 100px;
  height: 100px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
  box-shadow: 0 2px 16px 0 rgba(128,128,128,1);
  color: rgb(255, 255, 255) !important;
  background-image: none;
  margin: 19px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 0.875rem;
  margin: 3px auto 0;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 44px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    --animation-custom_in-scale: 0.001;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 27px 27px;
    min-height: 515px;
    grid-template-columns: calc(25% - 20.25px) calc(25% - 20.25px) calc(25% - 20.25px) calc(25% - 20.25px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 142px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 637px;
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-group-1 {
    --animation-custom_in-scale: 2;
    margin-top: 64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 139px;
    width: 305px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 102px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 41px 41px;
    min-height: 403px;
    grid-template-columns: calc(50% - 20.5px) calc(50% - 20.5px);
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-2 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-2 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-container-layout:hover .u-icon-2 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-icon-2 {
  opacity: 1 !important;
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-container-layout:hover .u-icon-1 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-icon-1 {
  opacity: 1 !important;
}

.u-section-1 .u-icon-3,
.u-section-1 .u-icon-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-3 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-3 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-container-layout:hover .u-icon-3 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-icon-3 {
  opacity: 1 !important;
}

.u-section-1 .u-icon-4,
.u-section-1 .u-icon-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-4 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-4 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-container-layout:hover .u-icon-4 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-icon-4 {
  opacity: 1 !important;
}

.u-block-59e2-32:not([data-block-selected]):not([data-cell-selected]),
.u-block-59e2-32:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-59e2-32:not([data-block-selected]):not([data-cell-selected]).u-block-59e2-32:not([data-block-selected]):not([data-cell-selected]).u-block-59e2-32:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-59e2-32:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-59e2-32.u-block-59e2-32.u-block-59e2-32.hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-59e2-32 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-container-layout:hover .u-block-59e2-32:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-block-59e2-32 {
  opacity: 1 !important;
}

.u-block-59e2-33:not([data-block-selected]):not([data-cell-selected]),
.u-block-59e2-33:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-59e2-33:not([data-block-selected]):not([data-cell-selected]).u-block-59e2-33:not([data-block-selected]):not([data-cell-selected]).u-block-59e2-33:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-59e2-33:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-59e2-33.u-block-59e2-33.u-block-59e2-33.hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-59e2-33 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-container-layout:hover .u-block-59e2-33:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-block-59e2-33 {
  opacity: 1 !important;
}

.u-block-59e2-34:not([data-block-selected]):not([data-cell-selected]),
.u-block-59e2-34:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-59e2-34:not([data-block-selected]):not([data-cell-selected]).u-block-59e2-34:not([data-block-selected]):not([data-cell-selected]).u-block-59e2-34:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-59e2-34:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-59e2-34.u-block-59e2-34.u-block-59e2-34.hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-59e2-34 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-container-layout:hover .u-block-59e2-34:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-block-59e2-34 {
  opacity: 1 !important;
}

.u-block-59e2-35:not([data-block-selected]):not([data-cell-selected]),
.u-block-59e2-35:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-59e2-35:not([data-block-selected]):not([data-cell-selected]).u-block-59e2-35:not([data-block-selected]):not([data-cell-selected]).u-block-59e2-35:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-59e2-35:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-59e2-35.u-block-59e2-35.u-block-59e2-35.hover {
  transform: scale(1.6) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-59e2-35 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-container-layout:hover .u-block-59e2-35:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-block-59e2-35 {
  opacity: 1 !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 12px;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Red-Ledge-RA-image-2-900-x-636.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-group-1 {
  width: 863px;
  min-height: 287px;
  margin: 151px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-3 .u-group-2 {
  width: 758px;
  min-height: 250px;
  height: auto;
  margin: 192px auto 60px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 1px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-group-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 12px;
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/robotics.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-group-1 {
  width: 602px;
  min-height: 241px;
  margin: 142px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 1px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-group-2 {
  width: 602px;
  min-height: 295px;
  margin: 206px auto 60px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 1px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 990px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 12px;
} .u-section-7 {
  background-image: linear-gradient(#8600c7, #db545a);
}

.u-section-7 .u-sheet-1 {
  min-height: 815px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  animation-timing-function: linear;
  margin: 55px auto 0;
}

.u-section-7 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: 55px;
}

.u-section-7 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-7 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-7 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-7 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-7 .u-custom-html-1 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }
}